@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInSlide 0.75s ease-out forwards;
}

.header {
  display: flex;
  width: 1fr;
  padding: 20px 48px 20px 56px;
  justify-content: space-between;
  align-items: center;
  background: var(--Foundation-green-green-500, #1c8582);
}

.link-decoration {
  text-decoration: none;
}

.logo {
  color: var(--white, #fff);
  font-family: bagel-fat-one, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-login {
  border-radius: 16px;
  background: var(--Foundation-green-green-50, #e8f3f3);
  color: var(--Foundation-green-green-800, #0f4948);
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  width: 1fr;
  height: 1024px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.btn-next {
  position: absolute;
  bottom: 36px;
  padding: 13px 32px;
  width: 66.6%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--Foundation-yellow-yellow-500, #f8ce61);
  color: #09282a;
  text-align: center;
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Section 1 */
.box-content {
  position: relative;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.box-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.box-title {
  margin-top: 16px;
  width: 864px;
  align-self: center;
  justify-self: center;
  color: var(--Foundation-grey-blue-purple-700, #31333d);
  text-align: center;
  font-family: Aptos;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 864px;
}

.step {
  color: #000;
  font-family: bagel-fat-one, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.avatar-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.avatar-card {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.avatar-img {
  display: flex;
  height: 234px;
  width: 174px;
  padding: 0 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 0.75px solid var(--Foundation-grey-blue-purple-100, #c5c6cb);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
}

.avatar-1 {
  background-image: url("../../assets/avatar/avatar-1.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-2 {
  background-image: url("../../assets/avatar/avatar-2.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-3 {
  background-image: url("../../assets/avatar/avatar-3.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Section 2 */
.box-content-2 {
  position: relative;
  margin-top: 5%;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.pill-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-top: 3%;
}

.pill-list {
  display: flex;
  width: 763px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.pill-list-top {
  display: flex;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}
.pill-list-bot {
  display: flex;
  align-items: center;
  gap: 64px;
}
.pill {
  display: flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  box-shadow: 3px 3px 0 0 #31333d;
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pill-orange {
  background: #c9783d;
  color: var(--white, #fff);
}
.pill-green {
  background: var(--Foundation-green-green-500, #1c8582);
  color: var(--white, #fff);
}
.pill-purple {
  background: #8d4482;
  color: var(--white, #fff);
}
.pill-lavender {
  background: #a69be6;
}
.pill-yellow {
  background: #f8ce61;
}

/* Section 3 */
.box-content-3 {
  position: relative;
  margin-top: 5%;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.style-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.style-card {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.style-img {
  display: flex;
  height: 234px;
  width: 174px;
  padding: 0 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 0.75px solid var(--Foundation-grey-blue-purple-100, #c5c6cb);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
}

.style-txt {
  color: #000;
  width: 174px;
  text-align: center;
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.avatar-4 {
  background-image: url("../../assets/avatar/avatar-4.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-5 {
  background-image: url("../../assets/avatar/avatar-5.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-6 {
  background-image: url("../../assets/avatar/avatar-6.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Section 4 */
.box-content-4 {
  position: relative;
  margin-top: 5%;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.avatar-7 {
  background-image: url("../../assets/avatar/avatar-7.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-8 {
  background-image: url("../../assets/avatar/avatar-8.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-9 {
  background-image: url("../../assets/avatar/avatar-9.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Section 5 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-content-5 {
  position: relative;
  margin-top: 5%;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.loading-img {
  background-image: url("../../assets/path-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  animation: spin 4s linear infinite;
}

/* Section 6 */
.box-content-6 {
  display: none;
  position: relative;
  margin-top: 5%;
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.movie-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
  width: 100%;
}

.movie-card {
  position: relative;
  width: 296px;
  height: 400px;
  border-radius: 12px;
  border: 0.75px solid #e5e7eb;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 15px 19px -3.75px rgba(0, 0, 0, 0.1),
    0 6px 7.5px -5px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  width: 296px;
  height: 400px;
  background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%);
  /* background: url("https://m.media-amazon.com/images/M/MV5BYWQ4YmNjYjEtOWE1Zi00Y2U4LWI4NTAtMTU0MjkxNWQ1ZmJiXkEyXkFqcGc@._V1_.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-save {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 32px;
  height: 32px;
  background: url("../../assets/icon-24px/save.png");
}

.movie-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 16px 16px;
  align-items: center;
  background: #fff;
}

.card-content {
  display: flex;
  width: 264px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.top-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

#genre,
#year,
#duration {
  color: #6a7282;
  font-family: Aptos;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.115px;
}

.movie-title-box {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: #101828;
  font-family: Aptos;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.235px;
}

.bot-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#platform {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -8px;
  width: 56px;
  height: 24px;
  background-image: url("../../assets/icon-24px/streaming.png");
}

.cta-sentence {
  position: absolute;
  bottom: -72px;
  width: 960px;
  color: var(--Foundation-grey-blue-purple-700, #31333d);
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

a {
  color: var(--Foundation-grey-blue-purple-700, #31333d);
  text-align: center;
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* Footer */
footer {
  display: flex;
  width: 1fr;
  height: 106px;
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--Foundation-green-green-500, #1c8582);
  color: var(--white, #fff);
}

.footer-content {
  display: flex;
  height: 64px;
  padding: 12px 80px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-media {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 20px;
}
.twitter {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/prime_twitter.png");
}
.instagram {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/instagram.png");
}
.facebook {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/facebook.png");
}

.footer-list {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}

.footer-text {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.copyrights {
  text-align: right;
}

.box-content-2,
.box-content-3,
.box-content-4,
.box-content-5 {
  display: none;
}
