.header {
  display: flex;
  width: 1fr;
  padding: 20px 48px 20px 56px;
  justify-content: space-between;
  align-items: center;
  background: var(--Foundation-green-green-500, #1c8582);
}

.logo {
  color: var(--white, #fff);
  font-family: bagel-fat-one, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-login {
  border-radius: 16px;
  background: var(--Foundation-green-green-50, #e8f3f3);
  color: var(--Foundation-green-green-800, #0f4948);
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  /* margin-top: 10%; */
  width: 1fr;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.box-content {
  width: 1080px;
  height: 560px;
  border-radius: 24px;
  background: #f7f8f8;
  box-shadow: 0 -1px 50px -20px rgba(0, 0, 0, 0.25),
    0 15px 50px -20px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.box-selection {
  display: inline-flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-self: center;
  gap: 84px;
}

.box-title {
  width: 864px;
  align-self: center;
  justify-self: center;
  color: var(--Foundation-grey-blue-purple-700, #31333d);
  text-align: center;
  font-family: Aptos;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.step {
  color: #000;
  font-family: bagel-fat-one, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-next {
  display: inline-flex;
  padding: 13px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--Foundation-yellow-yellow-500, #f8ce61);
  color: #09282a;
  text-align: center;
  font-family: Aptos;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.avatar-card {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.avatar-img {
  display: flex;
  height: 234px;
  width: 174px;
  padding: 0 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-1 {
  background-image: url("../../assets/avatar/avatar-1.png");
}
.avatar-2 {
  background-image: url("../../assets/avatar/avatar-2.png");
}
.avatar-3 {
  background-image: url("../../assets/avatar/avatar-3.png");
}

footer {
  display: flex;
  width: 1fr;
  height: 106px;
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--Foundation-green-green-500, #1c8582);
  color: var(--white, #fff);
}

.footer-content {
  display: flex;
  height: 64px;
  padding: 12px 80px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  font-family: Aptos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-media {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 20px;
}
.twitter {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/prime_twitter.png");
}
.instagram {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/instagram.png");
}
.facebook {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-24px/facebook.png");
}

.footer-list {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}

.footer-text {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.copyrights {
  text-align: right;
}
